* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  background-image: linear-gradient(
    to top left,
    rgb(0, 4, 255),
    rgb(0, 4, 255),
    rgb(0, 118, 252),
    rgb(0, 118, 252)
  );
}

.profil {
  animation: menghilang linear;
  animation-timeline: view();
  animation-range: exit 0 cover 100%;
}

.project {
  animation: muncul linear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.project .projectList {
  animation: geser linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.navbar {
  width: 52vh;
  background-color: #00000098;
  color: white;
  z-index: 1;
}
.navbar .tombol {
  margin-right: 10px;
  background-color: white;
}
.menu {
  position: fixed;
  right: 0;
  list-style-type: none;
  background-color: #808080bb;
  z-index: 1;
  width: 20vh;
  text-align: center;
  height: 100vh;
  transform: translateX(170px);
  transition: 1s;
  z-index: 1000;
  opacity: 0;
  top: 0;
}
.menu a {
  text-decoration: none;
  color: white;
}
.menu .close {
  margin-right: 110px;
  width: 30px;
  font-size: 34px;
  background-color: transparent;
  border: 0 transparent solid;
}
.menu .menu1,
.menu .menu2,
.menu .menu3 {
  margin-bottom: 30px;
}
.menu .menu1 {
  margin-top: 20px;
}
.profil .heading {
  margin-top: 180px;
  margin-left: 10px;
}
.profil {
  color: white;
}
.id {
  display: flex;
  margin-top: 30px;
}
.profil img {
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
}
.profil .nama {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.profil .description {
  margin: 10px 0px 0px 10px;
  font-family: Outfit;
}

.project {
  color: white;
}
.project .heading {
  margin-top: 230px;
  margin-left: 10px;
}

.project .projectList {
  gap: 20px;
  justify-content: center;
}

.project .card {
  width: 11.5rem;
  text-align: center;
  box-shadow: 0 0 5px;
}
.project img {
  width: 20vh;
  height: 30vh;
}

.github-button {
  text-decoration: none;
  color: rgb(0, 28, 212);
}
.github-section {
  display: flex;
  align-items: center;
  background-color: black;
  width: 20vh;
  margin-left: 0.6rem;
  text-decoration: none;
  border-radius: 15px;
}
.github-button .icon-github {
  color: white;
  margin-left: 7px;
}
.github-button h3 {
  margin: 0;
  font-size: 16px;
  margin-left: 10px;
  font-family: Rowdies;
}
.github-button .icon-github {
  font-size: 40px;
}
.nama {
  font-family: monospace;
  white-space: nowrap;
  font-size: 17px;
  overflow: hidden;
  padding-right: 5px;
  border-right: 2px solid black;
  display: inline-block;
  animation: blink 0.5s step-end infinite;
}
.menu-desktop {
  display: none;
}

@keyframes geser {
  from {
    transform: translateX(1000px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes muncul {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes menghilang {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 0.8;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes daribawah {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

@media only screen and (min-width: 1360px) {
  .navbar {
    width: 100%;
    align-items: center;
  }
  .menu-desktop {
    display: flex;
    gap: 25px;
    align-items: center;
    font-size: 25px;
    margin-right: 2rem;
  }
  .menu-desktop a {
    text-decoration: none;
    color: white;
  }
  .tombol {
    display: none;
  }
  .menu {
    display: none;
  }
  .profil .heading {
    font-size: 50px;
  }
  .profil img {
    width: 30vh;
    height: 30vh;
  }
  .profil .nama {
    font-size: 50px;
  }
  .profil .description {
    font-size: 30px;
    width: 95%;
  }
  .project .heading {
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 90px;
  }
  .project .card {
    width: 17rem;
    height: 80%;
  }
  .project img {
    margin-left: 5px;
    width: 36vh;
    height: 46vh;
    box-shadow: 0 0 5px;
    margin-top: 10px;
  }
  .project h5 {
    font-size: 25px;
    width: 100%;
  }
  .project a {
    width: 12vh;
    font-size: 20px;
  }
  .github-section {
    width: 30vh;
  }
  .github-button h3 {
    font-size: 20px;
  }
  .github-button .icon-github {
    font-size: 60px;
  }
  .translate:hover {
    background-color: gray;
  }
  .translate {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 15px;
    border-color: black;
    width: 7rem;
    height: 2rem;
    font-size: 20px;
    font-family: Outfit;
  }

  .sekolah {
    margin-top: 13rem;
    background-color: rgba(231, 231, 231, 0.774);
    height: 28rem;
  }
  .sekolah h1 {
    font-family: Asap Condensed;
  }
  .rwytsklh {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 5rem;
    animation: daribawah, muncul linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
  }
  .sekolah img {
    width: 19.5rem;
    border-radius: 10px;
  }
  .sekolah h2 {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Winky Sans";
    margin-top: 1rem;
  }
  .nmsd {
    width: 100%;
    transform: translateX(-14px);
  }
  .gmbrsd {
    height: 14.5rem;
  }
  .gmbrsmk {
    height: 14.5rem;
  }
}
